.hero {
            margin-top: 50px;
            display: flex;
            padding: 60px;
            justify-content: space-between;
            align-items: center;
        }
        .hero-left h1 {
            font-size: 44px;
            font-weight: 800;
            line-height: 1.2;
        }
        .hero-left p {
            font-size: 18px;
            margin-top: 10px;
            max-width: 500px;
        }
        .btn-yellow {
            background-color: #1070f6;
            border: none;
            margin-top: 20px;
            margin-bottom: 20px;;
            padding: 12px 10px;
            border-radius: 8px;
            text-decoration: none;
            color: white;   
            font-size: 18px;
            cursor: pointer;
            font-weight: bold;
        }
        .hero-right img {
            width: 450px;
        }
        .center {
            text-align: center;
        }